  body
  {
    color: white;
    /*Añadir color de fondo*/
    background: pink;
  }
  .heading
  {
    width: 80%;
    font-size: 22px;
  }
  #camera 
  {
    /*Agregar un borde de 2px discontinuo negro*/
    border: 2px dashed black;
    width: 350px;
    height: 300px; 
  }
  .name_of_objects, #result_object_name  , #result_object_accuracy
  {
    /*Personalizar color de texto*/
    color: yellow;
  }
